:root {
	--large-font-size: 24px !important;
	--main-font-size: 20px !important;
	--secondary-font-size: 18px !important;
  }
/* ================ */
div#root {
    height: 100%;

}

@font-face {
	font-family: 'THSarabun';
	src: local('THSarabun'), url(../fonts/THSarabunNew/THSarabunNew.ttf) format('truetype');
	font-weight: normal;
    font-style: normal;
  }

  @font-face {
	font-family: 'THSarabunBold';
	src: url(../fonts/THSarabunNew/THSarabunNewBold.ttf);    
	font-style: Bold;
  }

  @font-face {
	font-family: 'InterBold';
	src: url(../fonts/Inter/Inter-Bold.ttf);
    font-style: normal;
  }

* {
	font-family: 'THSarabun',Helvetica, sans-serif !important;
	font-variant: unset !important;
	font-size: var(--main-font-size) !important;
	/* color: #4E5C84; */
}

.grad1 {
	/* height: 100%; */
	background-color: red; /* For browsers that do not support gradients */
	background-image: linear-gradient(to right,  white, rgb(148, 0, 32) );
  }

  .small-text{
	font-size: 14px !important;
  }
  
  .template-text, .template-text .ant-form-item-label > label {
	font-family: 'THSarabun' !important;
	font-size: var(--main-font-size) !important;
	color: black;
  }

  .big1-title {
	font-family: 'InterBold' !important;
	font-size: 26px !important;
	background: -webkit-linear-gradient(#eb680a, #eb9046);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  .big2-title {
	font-family: 'InterBold' !important;
	font-size: 20px !important;
	background: -webkit-linear-gradient(#eb680a, #eb9046);;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  .big3-title {
	font-family: 'InterBold' !important;
	font-size: 30px !important;
	color: #eb680a;
  }

  .big4-title {
	font-family: 'InterBold' !important;
	font-size: 30px !important;
	color: #fff;
  }

  .big5-title {
	font-family: 'InterBold' !important;
	font-size: 18px !important;
	color: #fff;
  }

  .big6-title, .big6-title > svg {
	font-family: 'THSarabunBold' !important;
	/* font-size: 18px !important; */
	color: #fff !important;
  }

  .nol-button {
	background-color: #3E363680; 
	border-color: #fff;
	border-radius: 5px;
  }

  .nol-button:hover, .nol-button:focus {
	background-color: #85828280; 
	border-color: #fff;
  }

  .pre-button {
	background-color: #f77904; 
	border-color: #fff;
	border-radius: 5px;
  }

  .pre-button:hover, .pre-button:focus {
	background-color: #f7b578; 
	border-color: #fff;
  }

  .nol-button[disabled], .nol-button[disabled]:hover, .nol-button[disabled]:focus, .nol-button[disabled]:active {
	background-color: #8d8b8b80; 
	border-color: #fff;
  }

  .pre-button[disabled], .pre-button[disabled]:hover, .pre-button[disabled]:focus, .pre-button[disabled]:active {
	background-color: #55545480; 
	border-color: #fff;
  }

  .g-button {
	background-color: red; /* For browsers that do not support gradients */
	background-image: linear-gradient(to right,  #eb680a, #f7e72b);
	border-color: -webkit-linear-gradient(#eb680a, #f7e72b);
	height: 70px;
	padding: 6px 60px;
  }

  .g-button:hover, .login-button:hover, .g-button:focus, .login-button:focus {
	background-color: rgb(236, 181, 181); /* For browsers that do not support gradients */
	background-image: linear-gradient(to right,  #f7e72b, #eb680a);
	border-color: #f7e72b;
  }

  .login-button {
	background-color: red; /* For browsers that do not support gradients */
	background-image: linear-gradient(to right,  #eb680a, #f7e72b);
	border-color: -webkit-linear-gradient(#eb680a, #f7e72b);
	height: 50px;
	padding: 4px 70px;
  }  
  
  .site-layout .site-layout-background, .ant-layout-sider {
	background: #fff;
  }

  .ant-menu-item-selected, .ant-menu-submenu-selected {
	  color: #eb680a;
  }

  .ant-menu-item-active, .ant-menu-submenu-active {
	color: #c95502;
	background: #f5e1d4;
  }

  .ant-menu-item-selected:hover, .ant-menu-submenu-title:hover {
	color: #c95502;
}

.logo {
	background: #F3F6F9;
	margin: 10px;
	border-radius: 10px;
  }

  .ant-menu-item-group-title {
	font-family: 'InterBold' !important;
	font-size: 16px !important;
	color: #4E5C84;
  }

  .ant-menu-title-content {
	color: #4E5C84;
  }

  .ant-card-head-title {
	font-family: 'InterBold' !important;
	font-size: 24px !important;
	color: #4E5C84BF;
  }

  .ant-modal-title {
	font-family: 'InterBold' !important;
	font-size: 18px !important;
	color: #4E5C84BF;
  }

  .ant-form-item-label > label{
	font-family: 'InterBold' !important;
	font-size: 14px !important;
	color: #4E5C84BF;
  }
  .ant-table-small .ant-table-thead > tr > th {
	background: rgb(245 125 1 / 55%);	
  }
  .ant-table-thead {
	border-radius: 10px;
  }

  .ant-select-arrow{
	  top: 40%;
  }

  .dynamic-delete-button {
	position: relative;
	top: 4px;
	margin: 0 8px;
	color: #999;
	font-size: 24px;
	cursor: pointer;
	transition: all 0.3s;
  }
  .dynamic-delete-button:hover {
	color: #777;
  }
  .dynamic-delete-button[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
  }

  @media (min-width: 1500px) {
	.grad1 {
		height: 100%;
	  }
  }

  @media (max-width: 600px) {
	.big1-title {
		font-size: 30px !important;
	  }
	
	  .big2-title {
		font-size: 28px !important;
	  }
	
	  .big3-title {
		font-size: 28px !important;
	  }
	
	  .big4-title {
		font-size: 26px !important;
	  }
	
	  .big5-title {
		font-size: 14px !important;
	  }
  }