:root {
  --large-font-size: 20px !important;
  --main-font-size: 16px !important;
  --secondary-font-size: 14px !important;
}
/* ================ */
div#root {
  height: 100%;
}

@font-face {
  font-family: "THSarabun";
  src: local("THSarabun"),
    url(../fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "THSarabunBold";
  src: url(../fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Bold.ttf);
  font-style: Bold;
}

@font-face {
  font-family: "InterBold";
  src: url(../fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Bold.ttf);
  font-style: normal;
}

@font-face {
  font-family: "InterThin";
  src: url(../fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "InteMedium";
  src: url(../fonts/IBM_Plex_Sans_Thai/IBMPlexSansThai-Medium.ttf);
  font-style: normal;
}

* {
  font-family: 'THSarabun',Helvetica, sans-serif !important;
  /* font-family: "InterThin", Helvetica, sans-serif !important; */
  font-variant: unset !important;
  font-size: var(--main-font-size) !important;
  /* color: rgba(0, 0, 0, 0.5); */
}

.site-layout-sub-header-background{
	background:#FFFFFF
}

.grad1 {
  /* height: 100%; */
  padding: 40px 130px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, white, rgb(148, 0, 32));
  overflow-y: hidden;
}

.small-text {
  font-size: 11px !important;
}

.template-text,
.template-text .ant-form-item-label > label {
  font-family: "THSarabun" !important;
  font-size: var(--main-font-size) !important;
  color: black;
}

.big1-title {
  font-family: "InterBold" !important;
  font-weight: bold;
  font-size: 24px !important;
  /* background: -webkit-linear-gradient(#eb680a, #eb9046);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background: linear-gradient(to right, #eb680a, #eb9046);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.big2-title {
  font-family: "InteMedium" !important;
  font-size: 20px !important;
  background: linear-gradient(to right, #eb680a, #eb9046);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 0px 0px 8px #ABABAB; */
}

.big3-title {
  /* font-family: 'InterBold' !important; */
  font-family: "InteMedium" !important;
  font-size: 22px !important;
  background: linear-gradient(to bottom, #fc4a1a, #f7b733);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.big4-title {
  font-family: "InteMedium" !important;
  font-size: 18px !important;
  color: #fff;
}

.big5-title {
  font-family: "InteMedium" !important;
  font-size: 18px !important;
  color: #fff;
}

.big6-title,
.big6-title > svg {
  font-family: "THSarabunBold" !important;
  /* font-size: 18px !important; */
  color: #fff !important;
}
.big7-title {
	/* font-family: 'InterBold' !important; */
	font-family: "InteMedium" !important;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px !important;
}

.nol-button {
  background-color: #3e363680;
  border-color: #fff;
  border-radius: 5px;
}

.nol-button:hover,
.nol-button:focus {
  background-color: #85828280;
  border-color: #fff;
}

.pre-button {
  background-color: #f77904;
  border-color: #fff;
  border-radius: 5px;
}

.pre-button:hover,
.pre-button:focus {
  background-color: #f7b578;
  border-color: #fff;
}

.nol-button[disabled],
.nol-button[disabled]:hover,
.nol-button[disabled]:focus,
.nol-button[disabled]:active {
  background-color: #8d8b8b80;
  border-color: #fff;
}

.pre-button[disabled],
.pre-button[disabled]:hover,
.pre-button[disabled]:focus,
.pre-button[disabled]:active {
  background-color: #55545480;
  border-color: #fff;
}

.g-button {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #eb680a, #f7e72b);
  border-color: -webkit-linear-gradient(#eb680a, #f7e72b);
  /* height: 70px; */
  padding: 3px 40px;
  margin-top: 20px;
}

.g-button:hover,
.login-button:hover,
.g-button:focus,
.login-button:focus {
  background-color: rgb(
    236,
    181,
    181
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f7e72b, #eb680a);
  border-color: #f7e72b;
}

.login-button {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #eb680a, #f7e72b);
  border-color: -webkit-linear-gradient(#eb680a, #f7e72b);
  height: 50px;
  padding: 4px 40px;
  margin-top: 40px;
}

.site-layout .site-layout-background,
.ant-layout-sider {
  background: #fff;
}

.ant-menu {
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.ant-menu .ant-menu-item {
  background: #F3F6F9;
  /* padding: 15px 0px; */
}

.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0px;
}

.ant-menu-vertical .ant-menu-item:first-child, .ant-menu-vertical-left .ant-menu-item:first-child, .ant-menu-vertical-right .ant-menu-item:first-child, .ant-menu-inline .ant-menu-item:first-child {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  margin-top: 0px;
}

.ant-menu .ant-menu-item-group {
  margin-bottom: 15px;
}

.ant-menu .ant-menu-item-group-list {
  border-radius: 10px;
  background: #F3F6F9;
}

.ant-menu-vertical .ant-menu-item:last-child, .ant-menu-vertical-left .ant-menu-item:last-child, .ant-menu-vertical-right .ant-menu-item:last-child, .ant-menu-inline .ant-menu-item:last-child {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.ant-menu .anticon {
  /* color: #071A52; */
}

.ant-menu .anticon {
  /* color: #071A52; */
}

.logo .ant-space-item .ant-space .ant-space-item {
  margin-top: -5px;
}

.ant-menu .ant-menu-item-selected, .ant-menu-submenu-selected {
  /* color: #071A52;  */
  color: rgba(245, 124, 0, 0.8);
}

.ant-menu .ant-menu-title-content {
  font-weight: bold;
}

.ant-menu .ant-menu-item-selected .ant-menu-title-content {
  color: rgba(245, 124, 0, 0.8);
  font-weight: bold;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.25);
}
.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-right: 0px;
}

.ant-menu-item-selected,
.ant-menu-submenu-selected {
  color: #eb680a;
}

/* .ant-menu-item-active:hover {
  color: rgba(245, 124, 0, 0.8);
} */

.ant-menu-item-active:hover span {
  color: rgba(245, 124, 0, 0.8);
  /* background: #f5e1d4; */
}

.ant-menu-item-selected:hover,
.ant-menu-submenu-title:hover {
  color: #c95502;
}

.logo {
  background: #fff;
  margin: 10px;
  border-radius: 10px;
  margin-left: 20px;
}


.ant-menu-item-group-title {
  font-family: "InterBold" !important;
  font-size: 16px !important;
  color: rgba(0, 0, 0, 0.5);
}

.ant-menu-title-content {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px !important;
}

.ant-card-head-title {
  font-family: "InterBold" !important;
  font-size: 24px !important;
  color: rgba(0, 0, 0, 0.5);
}

.ant-modal-title {
  font-family: "InterBold" !important;
  font-size: 18px !important;
  color: rgba(0, 0, 0, 0.5);
}

.ant-form-item-label > label {
  font-family: "InterBold" !important;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.5);
}
.ant-table-small .ant-table-thead > tr > th {
  background: rgb(245 125 1 / 55%);
}
.ant-table-thead {
  border-radius: 10px;
}

.ant-select-arrow {
  top: 40%;
}

.dynamic-delete-button {
  position: relative;
  top: 4px;
  margin: 0 8px;
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.custom-layout-header {
  width: 100%;
  text-align: right; 
  padding: 10px 0px 80px 0px;
}

.custom-layout-header .ant-space-vertical {
  margin-top: 30px; 
}

.custom-layout-header .ant-space-item {
  line-height: 10px;
  text-align: left;
}
.custom-image-profile {
  width: 70px;
}

.custom-image-logout {
  width: 35px;
}

@media (min-width: 1500px) {
  .grad1 {
    height: 100%;
  }
}

@media (max-width: 1367px) {
  .big1-title {
    font-size: 22px !important;
  }
  .big2-title {
    font-size: 18px !important;
  }
  .big3-title {
    font-size: 20px !important;
  }
  .big4-title {
    font-size: 16px !important;
  }
  .big5-title {
    font-size: 16px !important;
  }
  .big7-title {
    font-size: 10px !important;
  }
}

@media (max-width: 820px) {
  .grad1 {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .grad1 {
    padding: 5px;
  }
  .big1-title {
    font-size: 20px !important;
  }

  .big2-title {
    font-size: 18px !important;
  }

  .big3-title {
    font-size: 18px !important;
  }

  .big4-title {
    font-size: 18px !important;
  }

  .big5-title {
    font-size: 14px !important;
  }
  .big7-title {
    font-size: 14px !important;
  }
}

@media (max-width: 391px) {
  .grad1 {
    padding: 5px;
  }
  .big1-title {
    font-size: 20px !important;
  }

  .big2-title {
    font-size: 18px !important;
  }

  .big3-title {
    font-size: 18px !important;
  }

  .big4-title {
    font-size: 14px !important;
  }

  .big5-title {
    font-size: 10px !important;
  }
  .big7-title {
    font-size: 10px !important;
  }
}
