.plots-grap {
    border-radius: 15px;
}

.plots-grap .ant-card-body {
    height: 100%;
}

.head-plots {
    font-family: "InterBold" !important;
    font-size: 21px !important;
    color: rgba(34, 43, 69, 0.7);
}

.head-plots-second {
    font-family: "InterBold" !important;
    font-size: 16px !important;
    color: rgba(34, 43, 69, 0.7);
}

.plots-grap .text-legend {
    font-family: "InteMedium" !important;
    font-size: 14px !important;
}
.plots-grap .text-legend-big {
    font-size: 27px !important;
}
.plots-grap .center-box {
  margin: 0;
  /* position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  text-align: center;
  width: 100%;
  /* margin-top: 20px; */
}

.plots-grap .end-box {
  margin: 0;
  position: absolute;
  top: 90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  /* width: 100%; */
}

.plots-grap .custom-button {
    padding: 5px 20px;
    height: auto;
    border-radius: 15px;
    color: white;
    border: 0px;
}

.plots-grap .custom-button span {
    font-size: 14px !important;
}


.custom-table-dashboard .ant-table-thead .ant-table-cell {
    color: #fff;
    /* font-weight: bold; */
    font-family: "InteMedium" !important;
    font-size: 14px !important;
}

.custom-table-dashboard .ant-table-tbody .ant-table-cell {
    font-family: "InteMedium" !important;
    font-size: 13px !important;
    padding-left: 10px;
}

.custom-table-dashboard .ant-table-tbody .ant-table-cell .ant-typography {
    font-size: 13px !important;
}

.custom-table-dashboard .ant-table-tbody .ant-table-cell .ant-typography strong {
    font-size: 13px !important;
}

.custom-table-dashboard .ant-table.ant-table-small .ant-table-title, .ant-table.ant-table-small .ant-table-footer, .ant-table.ant-table-small .ant-table-thead > tr > th, .ant-table.ant-table-small .ant-table-tbody > tr > td, .ant-table.ant-table-small tfoot > tr > th, .ant-table.ant-table-small tfoot > tr > td {
    padding: 10px 5px;
}

.end-box-mobile {
    display: none;
}

.box-plols {
    text-align: center;
}

.box-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.fontTitleSub {
    font-weight: bold;
    font-size: 18px !important;
    margin-left: 30px;
}

.container-dashboard2 .ant-card {
    border-radius: 15px;
}

.container-dashboard2 .ant-card .fix-height{
    height: 620px;
}

/* .table-radius {
    border-radius: 10px;
} */

.box-plols-detail {
    /* height: 100%; */
    align-items: center;
}

@media (max-width: 600px) {
    .box-plols-detail {
        margin-top: 30px;
    }
    .box-plols {
        margin-top: 35px;
    }
    .end-box {
        display: none;
    }
    .end-box-mobile {
        display: block;
    }
    .box-plan {
        margin-top: 15px;
    }
    .plots-grap .center-box {
        position: relative;
        /* margin-top: 20px; */
      }
      .box-center {
        position: relative;
        width: auto;
    }
}

@media (max-width: 820px) {
    .box-plols-detail {
        margin-top: 30px;
    }
    .box-plols {
        margin-top: 35px;
    }
    .end-box {
        display: none;
    }
    .end-box-mobile {
        display: block;
    }
    .box-plan {
        margin-top: 15px;
    }
    .plots-grap .center-box {
        position: relative;
        /* margin-top: 20px; */
      }
      .box-center {
        position: relative;
    }
}

