.ant-modal-wrap .userModal {
    width: 100%;
}
.userModal .ant-modal-content {
    border-radius: 20px;
    padding: 15px;
}

.userModal .ant-modal-header {
    border-radius: 20px;
    border-bottom: 0px;
}

.userModal .ant-card-bordered {
    border: 0px;
}

.userModal .ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: "";
}

.userModal .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 10px;
}

.userModal .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: auto;
    padding: 8px 0px;
}

.userModal .ant-select-selection-placeholder {
    padding-left: 18px;
}

.userModal .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-left: 18px;
}

.userModal .ant-select-arrow {
    padding-right: 20px;
    /* font-size: 16px; */
}

.userModal .ant-select-arrow .ant-select-suffix {
    /* font-size: 16px; */
    /* font-weight: bold; */
}

.userModal .btn-switch {
    margin-left: 70px;
    /* background-color: green; */
}

.userModal .ant-switch-checked {
    /* background-color: rgba(245, 124, 0, 0.7); */
}

.userModal .ant-select-selector {
    /* border-radius: 10px; */
  font-family: "InterThin" !important;
  font-size: 14px !important;
  padding: 6px 0px;
}

.userModal .btn-event {
    padding: 5px 30px;
    height: auto;
    border-radius: 20px;
    border: 0px;
    color: #fff;
    font-family: "InterBold" !important;
    font-weight: bold;
    margin: 0px 20px;
}

.userModal .btn-event span {
    font-size: 16px !important;
}

.userModal .btn-color-ok {
    background-color: rgba(245, 124, 0, 0.7);
}

.userModal .btn-color-ok:hover {
    background-color: rgba(245, 124, 0, 0.7);
}

.userModal .btn-color-cancel {
    background-color: rgba(0, 0, 0, 0.25);
}

.userModal .ant-select-single .ant-select-selector .ant-select-selection-item {
    padding-left: 15px;
}

.userModal .ant-select-selection-overflow-item {
    padding-left: 15px;
}

.form-login .ant-form-item-explain-error {
    margin-left: 20px;
    margin-top: 5px;
}

.nol-button {
    height: auto;
}

.custom-btn {
    /* padding: 5px 20px 0px 20px; */
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgba(62, 54, 54, 0.5);;
}

.table-user .ant-table-container {
    border-radius: 20px;
}

.table-user table {
    border-radius: 20px;
}

.table-user .ant-table-thead {
    border-radius: 20px;
    background: rgb(245 125 1);
}

.table-user .ant-table-thead .ant-table-cell {
    color: #fff;
    /* font-weight: bold; */
    font-family: "InteMedium" !important;
    font-size: 17px !important;
}

.table-user .ant-table-tbody .ant-table-cell {
    color: rgba(0, 0, 0, 0.5);
}

.table-user .ant-table.ant-table-small .ant-table-title, .ant-table.ant-table-small .ant-table-footer, .ant-table.ant-table-small .ant-table-thead > tr > th, .ant-table.ant-table-small .ant-table-tbody > tr > td, .ant-table.ant-table-small tfoot > tr > th, .ant-table.ant-table-small tfoot > tr > td {
    padding: 15px;
}

.container-card {
    border-radius: 20px;
}

.ant-modal-confirm-btns .ant-btn-primary {
    background-color: rgba(245, 124, 0, 0.8);
    border: 0px;
}

.table-user .ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.table-user .ant-table-container table > thead > tr:first-child th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container-user .ant-card-head {
    border-bottom: 0px;
  }

.container-user .ant-card-head-title {
    padding: 20px 0px 0px 10px;
  }

  .container-user .custom-add-user {
      padding-top: 3px;
  }

.container-user .btn-view {
    height: auto;
    padding-bottom: 0px;
    background: rgba(62, 54, 54, 0.5);
    border-radius: 10px;
}

.container-user .btn-view span{
    color: #fff;
}

.container-user .ant-pagination-item {
    background: #fff;
    border: 0px;
    border-radius: 10px;
    padding-top: 3px;
}

.container-user .ant-pagination-item a{
    color: #000;
}

.container-user .ant-pagination-item-active a {
    color: #fff;
}

.container-user .ant-pagination-item-active {
    background: #FFA45C;
    border: 0px;
    border-radius: 10px;
    padding-top: 3px;
}

.container-user .ant-pagination.mini .ant-pagination-prev, .ant-pagination.mini .ant-pagination-next {
    margin-right: 20px;
}

.container-user .ant-pagination.mini .ant-pagination-prev, .ant-pagination.mini .ant-pagination-next {
    margin-left: 20px;
}

.form-user {
    padding: 0px;
    /* font-size: 18px; */
}

.userModal .ant-modal-body {
    padding: 0px 20px;
}

.userModal .ant-card-body .ant-row {
    padding: 0px;
}

.ant-modal-content {
    border-radius: 15px;
}

.container-user .form-search {
    text-align: left;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    border-radius: 10px;
    background: #F3F6F9;
    border: 0px;
    padding: 5px 15px 5px 15px;
    /* width: 400px; */
    font-size: 14px !important;
}

@media (max-width: 1367px) {
    .userModal .ant-card-body {
        padding: 0px;
    }
  }
  
  @media (max-width: 1180px) {

  }
  
  @media (max-width: 600px) {
 
  }
  
  @media (max-width: 400px) {

  }